# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources.local.xml/d:/4 WORKSPACE/Flash1.0/Lib/__pycache__
/d:/4 WORKSPACE/Flash1.0/__pycache__
/d:/4 WORKSPACE/flash/__pycache__


