# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources.local.xml/d:/4 WORKSPACE/Flash1.0/Lib/__pycache__
/d:/4 WORKSPACE/Flash1.0/__pycache__
/d:/4 WORKSPACE/flash/__pycache__


/d:/4 WORKSPACE/flash/dist/flash 2.0/_internal
/d:/4 WORKSPACE/flash/dist/flash 2.0
/d:/4 WORKSPACE/flash/build/main/localpycs
/d:/4 WORKSPACE/flash/build/main/flash 2.0.exe
/d:/4 WORKSPACE/flash/build/main/main.exe
/d:/4 WORKSPACE/flash/build
